<!doctype html>

<html>
<head>
	{{> header}}
<script id="chart">
window.onload = function() {

var dataPoints = [];

var chart = new CanvasJS.Chart("dataGraph", {
	animationEnabled: true,
	theme: "light2",
	title: {
		text: "Select an Activity"
	},
	axisY: {
		title: "Distractions",
		titleFontSize: 20
	},
	data: [{
		type: "column",
		yValueFormatString: "#,### Units",
		dataPoints: dataPoints
	}]
});

chart.render();
}
</script>
<!-- Google Analytics -->
	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-135786625-1', 'auto');
	ga('send', 'pageview');
	</script>
	<!-- End Google Analytics -->
</head>
<body>
	<div class="text-center">
		<h4 class="screen-heading center-align p-3 m-0 shadow-md">
			Data
		</h4>
		<span id="help" style="font-size: 17px;">
					<!--modal for help-->
					<a href="#" data-toggle="modal" data-target="#helpModal">
			  		<i class="help-b fas fa-info-circle"></i></a>
		</span>
	</div>

	<hr class="m-0">
			

	<!--{{#if viewAlt}}
	<div class="text-align: left">
			<h1>All Data</h1>
			{{#each activities}}
				<h5>{{name}}</h5>
				{{#each instances}}
				<div>Instance</div>
				<small>Duration: {{duration}} -- </small>
					{{#each distractions}}
						<small>Type: {{type}} -- </small>
						<small>Count: {{count}} -- </small>
					{{/each}}
				<small>Most Common: {{mostCommon}}</small>
				{{/each}}
   			{{/each}}
	</div>
		{{else}}-->



	<div class="text-left m-3" style="font-size: 1rem">
		<h5 id = "Type">Activity Type: 
			<span class="dropdown" style="font-size: 1.25rem; position: relative; left: 6.6rem">
			  <button class="btnOn dropdown-toggle" type="button" data-toggle="dropdown" id="actButton">
			  <span class="caret"></span></button>
			  <ul class="dropdown-menu">
						{{#each activities}}
							<li class="p-2"><a href="#">{{name}}</a></li>
						{{/each}}
			  </ul>
			</span>
		</h5>

<!--; left: 5.8rem         !--left: 10.4rem       ; left: 0.5rem-->
		<h5 id ="Graph">Graph:
			<span style="font-size: 1.2rem;  position: relative; left: 10.4rem">
				<button class="btnOn" id="Bar">
					Bar
				</button>
				<button class="btnOff" id ="Line">
					Line
				</button>
			</span> 
		</h5>

		<h5 id="Timeline">Timeframe: 		
			<span style="font-size: 1rem;  position: relative; left: 1rem">
				<button class="btnOn" id="Previous">
					Previous
				</button>
				<button class="btnOff" id = "Last5">
					Last 5
				</button>
				<button class="btnOff" id="Last10">
					Last 10
				</button>
			</span>
		</h5>
	</div>

	<div class="m-3">
		<p>*click on graph for list of distractions</p>
	</div>

	<!--<div class="text-center">
		<div id="dataGraph">
			<a href="#" data-toggle="modal" data-target="#previousData"><img id="graphPic" src="https://www.mathsisfun.com/data/images/bar-graph-fruit.svg" class="graph bar previous"></a>
		</div>
	</div>-->

	<div id="dataGraph" data-toggle="modal" data-target="#previousData" class="bar previous graph" style="height: 300px; width: 90%"></div>
	<!--{{/if}}-->


	<!-- help modal content -->
		<div class="modal fade" id="helpModal" tabindex="-1">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-body">
				        <h6 class="py-3">How Do I Track My Procrastination Habits?</h6>
				        <ol class="text-left">
				        	<li class="px-2 py-1">Select an Activity Type</li>
				        	<li class="px-2 py-1">Choose which graph type you want.</li>
				        	<li class="px-2 py-1">Choose which timeframe you want.</li>
				        	<li class="px-2 py-1">To see more in-depth data, click on the graph.</li>
				        </ol>
				      </div>
				    </div>
				  </div>
				</div>	


				<!-- day data modal content -->
				<div class="modal fade" id="previousData" tabindex="-1">
					<div class="modal-dialog modal-dialog-centered">
				    <div class="modal-content">
				          <div class="modal-header">
					        <h5 class="modal-title" id = "pdTitle"></h5>
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					          <span aria-hidden="true">&times;</span>
					        </button>
					      </div>
				      	  <div class="modal-body" id="prevText">
				        	<p>No Previous data, select an activity</p>
				          </div>
				    </div>
				  </div>
				</div>

				<!-- week data modal content -->
				<div class="modal fade" id="last5Data" tabindex="-1">
					<div class="modal-dialog modal-dialog-centered">
				    <div class="modal-content">
						<div class="modal-header">
					        <h5 class="modal-title" id = "l5Title"></h5>
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					          <span aria-hidden="true">&times;</span>
					        </button>
					      </div>
				          <div class="modal-body" id="last5Text">
				              <p>No Last 5 data, select an activity</p>
				          </div>
				    </div>
				  </div>
				</div>

				<!-- help modal content -->
				<div class="modal fade" id="last10Data" tabindex="-1">
					<div class="modal-dialog modal-dialog-centered">
				    <div class="modal-content">
						<div class="modal-header">
					      <h5 class="modal-title" id = "l10Title"></h5>
					       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					        <span aria-hidden="true">&times;</span>
					        </button>
					      </div>
				        <div class="modal-body" id="last10Text">
				          <p>No Last 10 data, select an activity</p>
				        </div>
				    </div>
				  </div>
				</div>


	<div class="text-center">
		<!--Activity and Navigation Button-->		
		<div class="nav-pane fixed-bottom row pt-2">
			<a href="/home" class="nav-button col-6 p-2 highlight">
				ACTIVITY
			</a>
			<span class="nav-button col-6 p-2">
				DATA
			</span>
		</div>
	</div>
	<script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
	<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

	<script type="text/javascript" src="/js/dataPage.js"></script>
</body>
</html>